---
const { title, subtitle, description, images, tech, url } = Astro.props;

import Badge from "./Badge.astro";
import Button from "./Button.astro";
---

<article>
  <h3 class="text-xl text-yellow-400">{title}</h3>
  <h4 class="text-sm text-gray-400 my-1">
    {subtitle}
  </h4>
  <div class="overflow-hidden">
    {
      images.length > 1 ? (
        <div id="carousel" class="flex items-center -translate-x-full">
          {images.map((image: string) => (
            <div class="overflow-hidden min-w-full h-60">
              <img
                src={image}
                alt={title.toLowerCase()}
                class="img-proy w-full h-full"
              />
            </div>
          ))}
        </div>
      ) : (
        <img
          src={images[0]}
          alt={title.toLowerCase()}
          class="img-proy w-full h-full"
        />
      )
    }
  </div>
  <div class="flex justify-center items-center flex-wrap gap-2 my-1">
    {tech.map((t: any) => <Badge name={t.name} svg={t.svg} />)}
  </div>
  <p class="text-sm text-center text-white">
    {description}
  </p>
  <div class="flex justify-center mt-2">
    <Button name="Código" svg="/icons/github.svg" url={url} />
  </div>
</article>

<style>
  .img-proy {
    transition:
      transform 1s ease-out,
      opacity 0.5s ease-out;
  }

  .img-proy:hover {
    transform: translate(-80px, 50px) scale(1.8);
    opacity: 0.8;
    cursor: pointer;
  }

  #carousel {
    animation: carousel 40s linear infinite both;
  }

  @keyframes carousel {
    0% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(-100%);
    }
    40% {
      transform: translateX(-200%);
    }
    60% {
      transform: translateX(-300%);
    }
    80% {
      transform: translateX(-400%);
    }
    100% {
      transform: translateX(0);
    }
  }
</style>
